@model MyFirstMVCWebApp.Models.Bieren

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bieren</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alcohol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alcohol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrouwerNrNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrouwerNrNavigation.BrouwerNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoortNrNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoortNrNavigation.SoortNr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BierNr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
